/* CSS declarations go here */
@import '{zurb:foundation-sites}/scss/foundation';
@include foundation-everything;
/*--- Starts Custom CSS --*/

  #eustatus:focus {
    outline-width: 0;
  }

  #eustories:focus {
    outline-width: 0;
  }

  h1,h2,h3,h4,h5,h6 {
  	font-family: 'Palanquin Dark', sans-serif;
  }

  body {
  	background-color: #DCDCCC;
  	font-family: 'Varela Round', sans-serif;
    color: #303030;
  }


  button.radius, .button.radius {
      border-radius: 3px;
      }
    button.round, .button.round {
      border-radius: 1000px;
      }

  .top-bar-title {
  	width: 100%;
  	text-align: center;
  	color: white;
  }

  #responsive-menu {
  	position: absolute;
  	right: 0;
  	z-index: 1;
  }

  .hz-title {
  	font-weight: 700;
  }

  .hz-logo {
    font-size: 2em;
    margin-top: 20px;
  }

  .hz-title > a {
  	color: white;
    text-decoration: none;
  }

  .hz-burger {
  	position: absolute;
  	color: white !important;
  }

  .hz-small-menu {
  	margin-top: 48px;
  	height: 38px;
  	width: 100%;
  }

  .top-bar, .top-bar ul{
  	background-color: #5FCF80;

  }

  .hz-hero-img {
  	background-image: url(/homepagebgn.gif);
  	min-height: 400px;
  	width: 100%;
  }

  .hz-main-text {
  	margin-top: 50px;
  	color: white;
  	text-shadow: 0px 0px 18px black;
  }

  .hz-main-text h1 {
  	font-size: 8em;
  }

  .hz-section-info {
  	margin-top: 40px;
  }

  .hz-white {
  	color: white;
  }

  .hz-white a {
  	color: white;
  }

  .hz-orange {
  	color: #af7200;
  	font-weight: 500;
  }

  .hz-optin {
  	padding: 30px 0px 30px 0px;
  }

  .hz-footer {
  	height: 450px;
  	width: 100%;
  	background-color: rgb(35, 45, 50);

  	padding-top: 100px;
  }

  .hz-left-panel {
  	background-color: white;
  	height: inherit;
  	width: 100%;
  	margin: 10px 0px 10px !important;
  	border-radius: 3px;
  	box-shadow: 0px 0px 3px #979797;
  	padding-bottom: 20px;
  }

  .hz-left-panel img {
  	border-radius: 50%;
  }

  .hz-right-panel {
  	background-color: white;
  	height: inherit;
  	width: 100%;
  	margin: 10px 0px;
  	border-radius: 3px;
  	box-shadow: 0px 0px 3px #979797;
  	padding-bottom: 10px;
  	padding-top: 20px;
  }

  .hz-right-panel  hr {
  	margin: 5px auto;
  }

  .hz-small-stories {
  	padding: 0px 10px;
  	margin: 5px 0px;
  }

  .hz-small-stories img {
  	border-radius: 50%;
  }

  .hz-small-stories p {
  	font-size: smaller;
  	line-height: 150%;
  	text-align: left;
  	margin-bottom: 0px;
  }

  .hz-small-stories p:hover {
  	color: #454545;
  }

  .hz-greyfont {
  	font-size: small;
  	color: grey;
  }

  .hz-greyfont-smaller {
  	position: absolute;
  	margin-bottom: 50px;
  	font-size: 0.6em;
  	color: grey;
  }

  .hz-newsfeed-top {
  	margin-top: 10px;
  }

  .hz-newsfeed {
  	background-color: white;
  	height: inherit;
  	width: 100%;
  	margin: 10px 0px;
  	border-radius: 3px;
  	box-shadow: 0px 0px 1px #979797;
  }

  .hz-newsfeed-img {
  	height: 50px;
  	width: 10%;
  }

  .hz-newsfeed-name {
  	padding-top: 20px;
  }

  .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  	background-color: #d4f2ff;
  	border-bottom: 3px solid #00a7ff;
  }

  .tabs-title > a {
  	padding: 10px 20px;
  }

  .tabs-content {
  	border: none;
  }
  .hz-profilebg {
  	background-image: url(../assets/homepagebgn.gif);
  	height: 150px;
  }

  .hz-profileimg{
  	width: 100px;
  	height: 100px;
  	border-radius: 50%;
  	border: 5px solid white;
  	position: relative;
  	top: -50px;
  	background-color: #979797;
  }

  .hz-profileimg > img {
  	margin-bottom: 10px;
  }

  .hz-profilename {
  	color: white;
  	font-weight: 700;
  	font-size: 1.5em;
  	position: relative;
  	top: 30px;
  }

  .hz-panel {
  	background-color: white;
  	height: inherit;
  	margin: 20px auto;
  	border-radius: 3px;
  	box-shadow: 0px 0px 3px #979797;
  	padding-bottom: 10px;
  	padding-top: 20px;
  }

  .hz-numstat {
  	font-size: 3em;
  	font-weight: bold;
  }

.hz-status-content {
  font-size: 1em;
  margin-top: 10px;
}

div[contenteditable=true]  {
  outline: none;
  padding: 10px;
}

.hz-statuscontent[placeholder]:empty:before {
    content: attr(placeholder);
    color: grey;
    font-style: italic;
}

.hz-storiescontent[placeholder]:empty:before {
    content: attr(placeholder);
    color: grey;
    font-style: italic;
}

.hz-storiestitle[placeholder]:empty:before {
    content: attr(placeholder);
    color: grey;
    font-size: 1.2em;
}

.hz-lplevel[placeholder]:empty:before {
    content: attr(placeholder);
    color: grey;
    font-size: 1.2em;
}

.hz-lpsubject[placeholder]:empty:before {
    content: attr(placeholder);
    color: grey;
}

.hz-lptopic[placeholder]:empty:before {
    content: attr(placeholder);
    color: grey;
}

.hz-lpsubtopic[placeholder]:empty:before {
    content: attr(placeholder);
    color: grey;
}

.hz-imageupload {
  border-style: dashed;
  border-radius: 5px;
  border-width: 2px;
  height: 4rem;
}

.btn {
  z-index: 1;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.65rem;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.3em 0.5em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;

}

.hz-login-register-form {
  margin-top: 20px;
}

.hz-logout-btn {
  margin-right: 10px;
}

.hz-font-white {
  color: white;
}

.hz-font-warning {
  color: red;
}

.hz-font-success {
  color: #00FF00;
}

.list-group {
  list-style-type: none;
  margin: 0;
}

.hz-comments {
  padding: 0px;
}

.hz-avatar-name {
  padding-left: 5px;
}

.comment-content {
  margin-bottom: 0px;
}

.comments-box {
  margin-top: 5px;
  background-color: #d4f2ff;
  border-top: 3px solid #00a7ff;
}

.hz-comment-content {
  padding-left: 10px;
}

.btnhz-success {
  background-color: #86d040;
}

.btnhz-secondary {
  background-color: #767676;
}

.btnhz-alert {
  background-color: #cc4b37;
}

.boxsizingBorder {
  width: 100%;
}

.hz-replywrapper {
  border-left-style: solid black;
}

hr {
  border-bottom: 1px solid #4faf6b;
	margin: 5px auto;
}

.hz-comment-box textarea {
  border: none;
  outline: none;
	resize: none;
	font-size: 0.9em;
	margin-left: 5px;
	min-width: 100%;
	width: inherit;
}

.comments-box hr {
  border-bottom: 1px solid #4faf95;
}

.hz-comments-outer {
  padding: 0 16px;
  z-index: 1;
}

.hz-comment-button {
  margin: 0;
}

.hz-iframe {
  width: 100%;
  min-height: 350px;
}

.tabs-title a {
  text-decoration: none;
  text-align: center;
}

.button {
  background-color: #3CAAC8 !important;
}

.btn.btn-default {
  background-color: #3CAAC8 !important;
  padding: 10px;
  cursor:pointer;
}

.btn.btn-default input {
  cursor:pointer;
}

.hz-thumbnail-avatar {
  border-radius: 3px;
}

.hz-storytitle {
  font-size: 1.2em;
  color: #777;
  font-weight: 700;
  text-align: center;
}

.tabs.three-up dt, .tabs.three-up dd, .tabs.three-up li { width: 33.33%; }

.hz-lp {
  padding: 10px;
}

.hz-lp-icon {
  border-right: 2px solid #3CAAC8;
}

.hz-lp-icon button {
  margin-top: 5px;
  padding: 5px; 
}

.hz-lp-content {
  padding: 5px 0px 0px 20px;
}
