<template name="statusBox">
  {{#each statuses}}
  <div class="hz-newsfeed small-12 columns">
    <div class="small-2 columns">
      <img src="/hand.gif">
    </div>
    <div class="hz-newsfeed-name small-10 columns">
      {{author}} <span class="hz-greyfont">posted a status</span><br/>
      <span class="hz-greyfont-smaller"><i class="fa fa-clock-o" aria-hidden="true"></i> {{formattedDate}}</span>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p class="hz-status-content">{{#autolink}}{{{status}}}{{/autolink}}</p>
        {{#with FS.GetFile "images" images}}
          <div class="row text-center">
            <a href="{{this.url}}" data-lightbox="newsfeedimages" class="thumbnail">
              <img src="{{this.url store='thumb'}}" />
            </a>
          </div>
        {{/with}}
          <div class="row hz-youtube-container">
            {{{youtube}}}
          </div>
      </div>
    </div>
    <div class="row comment-section">
        {{> commentsBox id=this._id}}
    </div>
  </div>
  {{/each}}
</template>
