<template name="statusBox">
    {{#each newsfeedList}}
    <div class="hz-newsfeed small-12 columns">
      <div class="small-2 columns">
        <img src="/hand.gif">
      </div>
      <div class="hz-newsfeed-name small-10 columns">
        {{author.profile.firstName}} <span class="hz-greyfont">posted a {{#if status}} status <i class="fa fa-pencil" aria-hidden="true"></i>{{/if}} {{#if story}} story <i class="fa fa-file-text-o" aria-hidden="true"></i>{{/if}} {{#if lpdoc}} lesson <i class="fa fa-columns" aria-hidden="true"></i>{{/if}}</span><br/>
        <span class="hz-greyfont-smaller"><i class="fa fa-clock-o" aria-hidden="true"></i> {{formattedDate}}</span>
      </div>
      <div class="row">
        <div class="small-12 columns">
          {{#if lpdoc}}
            <div class="row hz-lp">
              {{#with FS.GetFile "documents" lpdoc}}
                <div class="small-2 small-offset-1 hz-lp-icon columns">
                  <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i><br/>

                  <a href="{{this.url}}" download><button class="button radius tiny expanded downloaded">Download</button></a>
                </div>
              {{/with}}
              <div class="small-6 end hz-lp-content columns">
                <p>Level: {{this.level}}<br/>
                Subject: {{subject}}<br/>
                Topic: {{topic}}<br/>
                {{#if subtopic}}
                Subtopic: {{subtopic}}<br/>
                {{/if}}</p>
                {{#with FS.GetFile "documents" lpdoc}}
                <small>File Name: {{this.original.name}}</small>
                {{/with}}
              </div>
            </div>
          {{/if}}
          {{#if title }}<p class="hz-storytitle"><i class="fa fa-quote-left" aria-hidden="true"></i> {{title}} <i class="fa fa-quote-right" aria-hidden="true"></i></p> {{/if}}
          <p class="hz-status-content">{{#autolink}}{{{status}}}{{{story}}}{{/autolink}}</p>
          {{#with FS.GetFile "images" images}}
            <div class="row text-center">
              <a href="{{this.url}}" data-lightbox="{{this.original.name}}" class="thumbnail">
                <img src="{{this.url store='thumb'}}" />
              </a>
            </div>
          {{/with}}
            <div class="row hz-youtube-container">
              {{{youtube}}}
            </div>
        </div>
      </div>
      <div class="row comment-section">
          {{> commentsBox id=this._id}}
      </div>
    </div>
    {{/each}}
    {{#if moreResults}}
        <div id="showMoreResults" class="text-center" style="margin-left: 25px;">
            <span class="loading"><i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></span>
        </div>
    {{/if}}
</template>
