<template name="topbar">
  <section class="hz-menu sticky">
		<div class="top-bar">
			<span class="hz-burger" data-responsive-toggle="responsive-menu" data-hide-for="medium">
				<button class="menu-icon dark" type="button" data-toggle></button>
			</span>
		  	<div class="top-bar-title">
		    	<span class="hz-title"><a href="/home"><i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i> Eufolia</a></span>
		  	</div>
		  	<div id="responsive-menu">

		    	<div class="top-bar-right">
			    	<ul class="show-for-medium menu">
				    	<li class="button radius small">Create an account</li>
						<li><a href="#">{{> loginButtons align="right"}}</a></li>
			    	</ul>
			    	<ul class="hz-small-menu show-for-small-only menu">
				    	<li class="button radius small">Create an account</li>
						<li><a href="#">{{> loginButtons align="right"}}</a></li>
			    	</ul>
		    	</div>
			</div>
		</div>
	</section>
</template>
