<template name="statusBox">
  {{#each statuses}}
  <div class="hz-newsfeed small-12 columns">
    <div class="small-2 columns">
      <img src="/hand.gif">
    </div>
    <div class="hz-newsfeed-name small-10 columns">
      Hafiz Hanif <span class="hz-greyfont">posted a status</span><br/>
      <span class="hz-greyfont-smaller"><i class="fa fa-globe" aria-hidden="true"></i> 7 minutes ago</span>
    </div>
    <hr/>
    <div class="row">
      <div class="small-12 columns">
        <p>{{status}}</p>
      </div>
      <div class="small-10 columns hz-greyfont">
        9 likes
      </div>
      <div class="small-2 columns">
        <div class="small-6 columns">
          <i class="fa fa-retweet" aria-hidden="true"></i>
        </div>
        <div class="small-6 columns">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
      </div>
      <hr/>
    </div>
  </div>
  {{/each}}
</template>
